<div class="row car-information-container px-5 py-3 justify-content-center">
  <div
    class="col-sm-12 col-lg-7 car-information rounded-3 border border-primary p-3 mb-5"
  >
    <div class="row align-items-center">

      <div class="col-sm-12 col-lg-2 text-center">
        <div class="row">
          <span class="col-lg-12 col-sm-6 info-text fs-5 fw-bold pb-2">Movil 123</span>
          <img
            src="img/Taxi.png"
            class="img-fluid taxi-img mx-auto"
            alt="Icono de taxi"
          />
        </div>
      </div>

      <div class="col-sm-12 col-lg-5">
        <div class="row driver-name-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Placa:</span></div>
          <div class="col-6 driver-name"><span class="info-text">ABC-123</span>
          </div>
        </div>
        <div class="row owner-container pb-2">
          <div class="col-6"><span
              class="info-text fw-bold"
            >Propietario:</span></div>
          <div class="col-6 owner"><span class="info-text">Cesar Perez Rodriguez</span></div>
        </div>
        <div class="row movil-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Movil:</span></div>
          <div class="col-6 movil"><span class="info-text">123</span>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-lg-5">
        <div class="row car-class-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Clase:</span></div>
          <div class="col-6 car-class"><span
              class="info-text"
            >Automovil</span></div>
        </div>
        <div class="row model-container pb-2">
          <div class="col-6"><span
              class="info-text fw-bold"
            >Modelo:</span></div>
          <div class="col-6 model"><span class="info-text">2016</span></div>
        </div>
        <div class="row brand-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Marca:</span></div>
          <div class="col-6 brand"><span class="info-text">Kia</span></div>
        </div>
      </div>
    </div>

    <div class="row justify-content-evenly px pt-4">
      <button
        type="button"
        class="col-sm-12 col-lg-4 px-2 py-1 preoperational-button btn text-center"
      >
        <div class="row align-items-center text-center">
          <span class="col-10 text-center"> Pre operacional</span>
        </div>
      </button>
      <button
        type="button"
        class="col-sm-12 col-lg-4 p-2 text-center btn data-button"
      >
        <div class="row">
          <span class="col-6"> Actualizar datos</span>
          <span class="col-6"> ult: 11/Mar/2021</span>
        </div>
      </button>
    </div>

  </div>

  <div
    class="col-sm-12 col-lg-7 car-information-2 border border-danger rounded-3 border border-primary p-3"
  >
    <div class="row align-items-center">

      <div class="col-sm-12 col-lg-2 text-center">
        <div class="row">
          <span class="col-lg-12 col-sm-6 info-text fs-5 fw-bold pb-2">Movil 123</span>
          <img
            src="img/Taxi.png"
            class="img-fluid taxi-img mx-auto"
            alt="Icono de taxi"
          />
        </div>
      </div>

      <div class="col-sm-12 col-lg-5">
        <div class="row driver-name-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Placa:</span></div>
          <div class="col-6 driver-name"><span class="info-text">ABC-123</span>
          </div>
        </div>
        <div class="row owner-container pb-2">
          <div class="col-6"><span
              class="info-text fw-bold"
            >Propietario:</span></div>
          <div class="col-6 owner"><span class="info-text">Cesar Perez Rodriguez</span></div>
        </div>
        <div class="row movil-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Movil:</span></div>
          <div class="col-6 movil"><span class="info-text">123</span>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-lg-5">
        <div class="row car-class-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Clase:</span></div>
          <div class="col-6 car-class"><span
              class="info-text"
            >Automovil</span></div>
        </div>
        <div class="row model-container pb-2">
          <div class="col-6"><span
              class="info-text fw-bold"
            >Modelo:</span></div>
          <div class="col-6 model"><span class="info-text">2016</span></div>
        </div>
        <div class="row brand-container pb-2">
          <div class="col-6"><span class="info-text fw-bold">Marca:</span></div>
          <div class="col-6 brand"><span class="info-text">Kia</span></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-evenly px pt-4">
      <button
        type="button"
        class="col-sm-12 col-lg-4 px-2 py-1 btn data-button"
      >
        <div class="row align-items-center">
          <span class="col-10"> Preo peracional</span>
        </div>
      </button>
      <button
        type="button"
        class="col-sm-12 col-lg-4 p-2 text-center bg-danger btn data-button"
      >
        <div class="row">
          <span class="col-6"> Actualizar datos</span>
          <span class="col-6"> ult: 11/Mar/2021</span>
        </div>
      </button>
    </div>
  </div>
</div>