<div class="container-fluid main pt-4">

  <div class="mobile">
    <div class="container">
      <p class="text-center welcome-name mb-0"> Cesar</p>
      <p class="text-center welcome-title">
        Bienvenido al sistema de registro mécanico</p>
    </div>
    <div class="container float-lg-left">
      <img class="img-fluid" src="img/taxi_icon.png" />
    </div>

    <div class="container text-center t">
      <p class="text-center text-down">
        Vamos iniciar ingresando unos datos de tu vehiculo</p>
      <button type="button" class="btn btn-primary">Comencemos</button>
    </div>

  </div>

  <div class="container text-center desktop pt-5">
    <div class="container pt-5">
      <div class="row">
        <div class="col-6 my-0">
          <img class="img-fluid" src="img/taxi_icon.png" />
        </div>
        <div class="col-6">
          <p class="text-center welcome-name mb-0"> Cesar</p>
          <p class="text-center welcome-title">
            Bienvenido al sistema de registro mécanico</p>
          <p class="text-center text-down">
            Vamos iniciar ingresando unos datos de tu vehiculo</p>
          <button
            type="button"
            class="btn btn-primary start"
          >Comencemos</button>
        </div>
      </div>
    </div>
  </div>

</div>